<h1>About the project</h1>
<p>This project was made for cryptography course.</p>
<p>The project implements the AES encryption algorithm and displays the steps it takes in hexadecimal statetable.</p>
<h1>About AES</h1>
<p>The more popular and widely adopted symmetric encryption algorithm likely to be encountered nowadays is the Advanced
  Encryption Standard (AES). It is found at least six time faster than triple DES.</p>
<p>A replacement for DES was needed as its key size was too small. With increasing computing power, it was considered
  vulnerable against exhaustive key search attack. Triple DES was designed to overcome this drawback but it was found
  slow.</p>
<p>The features of AES are as follows −</p>
<ul>
  <li>Symmetric key symmetric block cipher</li>
  <li>128-bit data, 128/192/256-bit keys</li>
  <li>Stronger and faster than Triple-DES</li>
  <li>Provide full specification and design details</li>
  <li>Software implementable in C and Java</li>
</ul>
<h2>Operation of AES</h2>
<p>AES is an iterative rather than Feistel cipher. It is based on ‘substitution–permutation network’. It comprises of a
  series of linked operations, some of which involve replacing inputs by specific outputs (substitutions) and others
  involve shuffling bits around (permutations).</p>
<p>Interestingly, AES performs all its computations on bytes rather than bits. Hence, AES treats the 128 bits of a
  plaintext block as 16 bytes. These 16 bytes are arranged in four columns and four rows for processing as a matrix
  &minus;</p>
<p>Unlike DES, the number of rounds in AES is variable and depends on the length of the key. AES uses 10 rounds for
  128-bit keys, 12 rounds for 192-bit keys and 14 rounds for 256-bit keys. Each of these rounds uses a different 128-bit
  round key, which is calculated from the original AES key.</p>
<p>The schematic of AES structure is given in the following illustration &minus;</p>
<img class="mx-auto d-block" [src]="'assets/aes_structure.jpg'" alt="AES Structure" />
<h2>Encryption Process</h2>
<p>Here, we restrict to description of a typical round of AES encryption. Each round comprise of four sub-processes. The
  first round process is depicted below &minus;</p>
<img class="mx-auto d-block" [src]="'assets/first_round_process.jpg'" alt="First Round Process" />
<h3>Byte Substitution (SubBytes)</h3>
<p>The 16 input bytes are substituted by looking up a fixed table (S-box) given in design. The result is in a matrix of
  four rows and four columns.</p>
<h3>Shiftrows</h3>
<p>Each of the four rows of the matrix is shifted to the left. Any entries that ‘fall off’ are re-inserted on the right
  side of row. Shift is carried out as follows &minus;</p>
<ul class="list">
  <li>First row is not shifted.</li>
  <li>Second row is shifted one (byte) position to the left.</li>
  <li>Third row is shifted two positions to the left.</li>
  <li>Fourth row is shifted three positions to the left.</li>
  <li>The result is a new matrix consisting of the same 16 bytes but shifted with respect to each other.</li>
</ul>
<h3>MixColumns</h3>
<p>Each column of four bytes is now transformed using a special mathematical function. This function takes as input the
  four bytes of one column and outputs four completely new bytes, which replace the original column. The result is
  another new matrix consisting of 16 new bytes. It should be noted that this step is not performed in the last round.
</p>
<h3>Addroundkey</h3>
<p>The 16 bytes of the matrix are now considered as 128 bits and are XORed to the 128 bits of the round key. If this is
  the last round then the output is the ciphertext. Otherwise, the resulting 128 bits are interpreted as 16 bytes and we
  begin another similar round.</p>
<h2>Decryption Process</h2>
<p>The process of decryption of an AES ciphertext is similar to the encryption process in the reverse order. Each round
  consists of the four processes conducted in the reverse order &minus;</p>
<ul class="list">
  <li>Add round key</li>
  <li>Mix columns</li>
  <li>Shift rows</li>
  <li>Byte substitution</li>
</ul>
<p>Since sub-processes in each round are in reverse manner, unlike for a Feistel Cipher, the encryption and decryption
  algorithms needs to be separately implemented, although they are very closely related.</p>
<h2>AES Analysis</h2>
<p>In present day cryptography, AES is widely adopted and supported in both hardware and software. Till date, no
  practical cryptanalytic attacks against AES has been discovered. Additionally, AES has built-in flexibility of key
  length, which allows a degree of ‘future-proofing’ against progress in the ability to perform exhaustive key searches.
</p>
<p>However, just as for DES, the AES security is assured only if it is correctly implemented and good key management is
  employed.</p>